page-home {
    #map {
        width: 100%;
        height: 100%;
      }
      .scroll {
        height: 100%
    }
 
}

.janelinha-texto{
    font-size: 1.15em;
}

#add-button{
    background-color: #aa3333!important; 
    color: white!important;
}